body
{
    position: absolute;
    background: black;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.header
{
    position: absolute;
    background: white;
    width: 100%;
    height: 110px;
    left: 0;
    top: 0;
}

.logo-block
{
    position: absolute;
    left: 5%;
    top:13%
}

#logo-black
{
    transition: 1s;
}

#logo-black:hover
{
    transform: scale(1.1);
}

.buttons-menu
{
    position: absolute;
    width: 1700px;
    height: 110px;
    
}

.button
{   
    position: absolute;
    width: 233px;
    height: 110px;
}


#about-btn
{
    position: absolute;
    left: 25%;
    top: 0;
}

#support-btn
{
    position: absolute;
    top: 0;
    left: 50%;
}

#sell-buy-btn
{
    position: absolute;
    top: 0;
    left: 75%;
}

.href-btn
{   
    position: absolute;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    color: black;
    width: 233px;
    height: 110px;
    top: 38%;
    left: 35%;

    transition: .5s;
}

.href-btn:hover
{
    transform: scale(1.08);
}

#login-singup-btns
{
    position: absolute;
    width: 400px;
    height: 50px;
    left: 100%;
}

.button-auth
{
    position: absolute;
    width: 119px;
    height: 51px;

    border-radius: 10px;
}

.button-auth-href
{
    position: absolute;
    text-decoration: none;

}

#login-btn
{
    position: absolute;
    background: black;
    width: 125px;
    height: 57px;
    left: -50%;
    top: 40%;

    border: 3px solid black;
    transition: .5s;
}

#login-btn:hover
{
    background: white;
}

#singup-btn
{
    position: absolute;
    top: 40%;
    width: 131px;
    height: 57px;

    border: 3px solid black;

    transition: .5s;
}

#singup-btn:hover
{
    background: black;
}

.button-auth-href
{
    position: absolute;
    text-align: center;
    width: 120px;
    height: 52px;
    top: 20%;
    left: 23%;

    font-family: 'Odor Mean Chey', sans-serif;
    font-size: 20px;    
}

#href-login
{
    position: absolute;
    width: 120px;
    height: 52px;
    left: 3%;
    color: white;
    transition: .5s;
}

#href-login:hover
{
    color: black;
}

#href-singup
{
    position: absolute;
    color: black;
    left: 8%;
    width: 120px;
    height: 52px;

    transition: .5s;
}

#href-singup:hover
{
    color: white;
}

#profile-block
{
    position: absolute;
    width: 233px;
    height: 102px;
    left: 87%;
}

#profile-btn
{
    position: absolute;
    width: 55px;
    height: 55px;
    left: 20%;
    top: 20%;

    border: 2px solid black;
    border-radius: 90px;
}
