body
{
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
}

html
{
    overflow-x: hidden;
}

.header
{
    position: absolute;
    width: 100%;
    height: 150px;
}

.logo-block
{
    position: absolute;
    left: 43.5%;
    top: 15%;
}

#logo
{
    position: absolute;
    transform: scale(0.9);
    transition: 0.5s;
}

#logo:hover
{
    transform: scale(1);
}

.menu
{
    position: absolute;
    width: 1000px;
    height: 500px;
    top: 30%;
    left: 40%;
    transition: 1s;
}

#menu-text
{
    position: absolute;
    font-size: 48px;
    font-family: 'Dela Gothic One';
    color: white;
}

.button-menu
{
    position: absolute;
    width: 1000px;
    height: 300px;
    top: 50%;
    left: 2%;
}

#login-btn 
{
    position: absolute;
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
transition: 0.5s;
transition-property: box-shadow;
transform: scale(1.3);
}

#login-btn 
{
background: rgb(0,140,255);
box-shadow: 0 0 25px rgb(0,140,255);
}

#login-btn:hover 
{
box-shadow: 0 0 5px rgb(0,140,255),
            0 0 25px rgb(0,140,255),
            0 0 50px rgb(0,140,255),
            0 0 100px rgb(0,140,255);
}

#singup-btn 
{
position: absolute;
padding: 10px 20px;
border: none;
font-size: 17px;
color: #fff;
border-radius: 7px;
letter-spacing: 4px;
font-weight: 700;
text-transform: uppercase;
transition: 0.5s;
transition-property: box-shadow;
transform: scale(1.3);
left: 28%;
}

#singup-btn 
{
background: white;
color: black;
box-shadow: 0 0 25px rgb(170, 169, 169);
}

#singup-btn:hover 
{
box-shadow: 0 0 5px white,
            0 0 25px white,
            0 0 50px white,
            0 0 100px white;
}

.button__
{
    position: absolute;
    font-family: "Russo One";
    text-decoration: none;
}

.header-button
{
position: absolute;
top: 35%;
width: 200px;
height: 150px;
}

#header-about
{
    position: absolute;
    left: 30%;
}

.header-href
{
    position: absolute;
    font-size: 35px;
    text-decoration: none;
    color: white;
    font-family: 'Dela Gothic One';

    transition: 0.5s;
}

.header-href:hover
{
    text-shadow: 0 0 25px rgb(170, 169, 169);
}

#header-support
{
    position: absolute;
    left: 67%;
}

.end-menu
{
    position: absolute;
    width: 100%;
    top: 90%;
}

.profiles-menu
{
    position: absolute;
    width: 500px;
    height: 100px;
    left: 40%;
}

.profile-icon
{
    position: absolute;
    width: 50px;
    height: 50px;

    transition: 0.5s;
}

.profile-icon:hover
{
    transform: scale(1.1);
}


#github-icon
{
    position: absolute;
    left: 30%;
}

#discord-icon
{
    position: absolute;
    top: 3%;
    left: 50%;
}

#profiles-line
{
    position: absolute;
    top: -50%;
    left: 15%;
    width: 300px;
}

.profile-block
{
    position: absolute;

    top: 33%;
    left: 15%;
}

#profile-button
{
    position: absolute;
    width: 60px;
    height: 60px;

    border-radius: 100px;
    border: none;
    cursor: pointer;
}

.profile-menu 
{
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(18, 18, 18);
    transition: 0.5s;
    transform: translate(-100%, 0);
    box-shadow: 0 0 30px white;
}

.menu-list
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.href-menu
{   
    position: absolute;
    text-decoration: none;
    color: white;
    cursor: pointer;
    width: 100%;
    height: 100%;
    left: 37%;
    top: 30%;
    font-weight: 400;
    font-family: "Questrial";
}

.menu-button
{   
    position: absolute;
    width: 50px;
    height: 50px;
    position: absolute;
    right: -150px;
    top: 5%;
}

#button__menu
{
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.5s;
}

#href-profile
{
    position: absolute;
}

#href-settings
{
    position: absolute;
}

.menu__button
{   
    position: absolute;
    width: 210px;
    height: 61px;
    box-sizing: border-box;

    border: 4px solid white;
    background: black;

    border-radius: 20px;

    transition: 0.5s;
}

#profile__button
{
    position: absolute;
    top: 20%;
}

#wallet__button
{
    position: absolute;
    top: 35%;
}

#settings__button
{
    position: absolute;
    top: 50%;
}

.menu__icon
{
    position: absolute;
    left: 5%;
    width: 25px;
    height: 25px;
}

#profile__icon
{
    position: absolute;
    top: 20%;
}

#wallet__icon
{
    position: absolute;
    top: 20%;
}

#settings__icon
{
    position: absolute;
    top: 25%;
}

.button {
    cursor: pointer;
    width: 120px;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color: white;
    border: 2px solid white;
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
    font-family: "Dela Gothic One";
    text-align: center;
    font-weight: 500;
    text-decoration: none;
  }
  
  .button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 59px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: white;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .button:hover::before {
    scale: 3;
  }
  
  .button:hover {
    color: #212121;
    scale: 1.1;
    box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
  }
  
  .button:active {
    scale: 1;
  }

#exit__button
{   
    width: 171px;
    top: 500%;
    border: 2px solid red;
}

#exit__button::before
{   
    background-color: red;
}

#wallet__logo
{
    position: absolute;
    width: 300px;
    height: 700px;
    left: 44%;
    top: 120%;
}


.href__wallet
{
    position: absolute;
    font-family: "Dela Gothic One";
    text-decoration: none;
    color: white;
    font-size: 40px;
}

#firtex__href
{
    position: absolute;
    left: -25%;
}

#line__href
{
    position: absolute;
    left: 40%;
}

#wallet__href
{
    position: absolute;
    left: 60%;
}

.wallet-create-block
{
    position: absolute;
    width: 1000px;
    height: 600px;
    background: rgb(42, 42, 42);
    top: 20%;
    left: 22%;

    border-radius: 20px;
}

#create-h1-block
{
    position: absolute;
    width: 600px;
    height: 60px;
    left: 20%;
}

#create-h1
{
    position: absolute;
    color: white;
    width: 600px;
    height: 300px;
    font-family: "Dela Gothic One";
    text-align: center;
    letter-spacing: 2px;
}

.ld-ripple {
    position: relative;
    width: 80px;
    height: 80px;
    left: 45%;
    top: 40%;
  }
  
  .ld-ripple div {
    position: absolute;
    transform: scale(3);
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: ld-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  
  .ld-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  
  @keyframes ld-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
  
    4.9% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
  
    5% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
  
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }

#create__wallet-bool
{
    position: absolute;
}

.wallet-private-key_active
{
    position: absolute;
    width: 842px;
    height: 1000px;
    left: 27%;
    top: 20%;
    background: rgb(33, 33, 33);
    visibility: hidden;

    border-radius: 30px;

    transition: 1s;
    
}

.private-key
{
    position: absolute;
    width: 842px;
    height: 800px;

    
}

.private-key__element
{
    position: absolute;
    width: 200px;
    height: 57px;
    box-sizing: border-box;
    border: 3px solid white;
    background: white;
    border-radius: 20px;
}

#private-key_element0
{
    position: absolute;
    left: 5%;
    top: 20%;
}

#private-key_element1
{
    position: absolute;
    top: 35%;
    left: 5%;
}

#private-key_element2
{
    position: absolute;
    top: 50%;
    left: 5%;
}

#private-key_element3
{
    position: absolute;
    top: 65%;
    left: 5%;
}

#private-key_element4
{
    position: absolute;
    top: 80%;
    left: 5%;
}

#private-key_element5
{
    position: absolute;
    top: 95%;
    left: 5%;
}

#private-key_element6
{
    position: absolute;
    top: 20%;
    left: 37%;
}

#private-key_element7
{
    position: absolute;
    top: 35%;
    left: 37%;
}

#private-key_element8
{
    position: absolute;
    top: 50%;
    left: 37%;
}

#private-key_element9
{
    position: absolute;
    top: 65%;
    left: 37%;
}

#private-key_element10
{
    position: absolute;
    top: 80%;
    left: 37%;
}

#private-key_element11
{
    position: absolute;
    top: 95%;
    left: 37%;
}

#private-key_element12
{
    position: absolute;
    top: 20%;
    left: 69%;
}

#private-key_element13
{
    position: absolute;
    top: 35%;
    left: 69%;
}

#private-key_element14
{
    position: absolute;
    top: 50%;
    left: 69%;
}

#private-key_element15
{
    position: absolute;
    top: 65%;
    left: 69%;
}

#private-key_element16
{
    position: absolute;
    top: 80%;
    left: 69%;
}

#private-key_element17
{
    position: absolute;
    top: 95%;
    left: 69%;
}

.private-key-el
{
    position: absolute;
    text-align: center;
    color: black;
    font-family: "Dela Gothic One";
    font-family: 12px;
    left: 27%;
    top: 18%;
    visibility: hidden;
}

.header__private-key-h1
{
    position: absolute;
    width: 100%;
    height: 100px;
}

.header__private-key-text
{
    position: absolute;
    color: white;
    font-family: "Dela Gothic One";
    font-size: 38px;
    left: 25%;
}

.show-private-key-btn
{
    position: absolute;
    width: 200px;
    height: 100px;
    top: 100%;
    left: 37%;
}

.button2 {
    top: 85%;
    left: 37%;
    width: 200px;
    display: inline-block;
    cursor: pointer;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: black;
    border: 1px solid #e8e8e8;
    box-shadow: 2px 2px 5px #c5c5c5,
               -2px -2px 5px #ffffff;
    font-family: "Dela Gothic One";
    color: white;
  }
  
  .button2:active {
    color: black;
    box-shadow: inset 4px 4px 12px #c5c5c5,
               inset -4px -4px 12px black;
  }
  
  .button2:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button2:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: white;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button2:hover {
    color: black;
    border: 1px solid white;
  }
  
  .button2:hover:before {
    top: -35%;
    background-color: blacks;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .button2:hover:after {
    top: -45%;
    background-color: white;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .Btn {
    visibility: hidden;
    position: absolute;
    top: 88%;
    left: 37%;
    width: 200px;
    height: 45px;
    background-color: white;
    border: none;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.342);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    position: relative;
    overflow: hidden;
    transition-duration: .5s;
  }
  
  .text {
    color: black;
    font-weight: 800;
    letter-spacing: 1.1px;
    font-family: "Dela Gothic One";
    z-index: 2;
  }
  
  .svgIcon {
    z-index: 2;
  }
  
  .svgIcon path {
    fill: black;
  }
  
  .Btn:hover {
    color: black;
  }
  
  .effect {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    z-index: 1;
    opacity: 0;
    transition-duration: .5s;
  }
  
  .Btn:hover .effect {
    transform: scale(15);
    transform-origin: center;
    opacity: 1;
    transition-duration: .5s;
  }
  
  .Btn:hover {
    box-shadow: 0px 0px 5px white,
    0px 0px 10px white,
    0px 0px 30px white;
    transition-duration: .7s;
  }
  
  .Btn:hover .text {
    color: white;
  }
  
  .Btn:hover .svgIcon path {
    fill: white;
  }

.number-private-key
{
    position: absolute;
    position: absolute;
    text-align: center;
    color: black;
    font-family: "Dela Gothic One";
    font-family: 12px;
    left: 10%;
    top: 18%;
}

.hidden-private-key-block
{
    position: absolute;
    width: 120px;
    height: 35px;
    background: rgb(194, 193, 193);
    border-radius: 20px;

    transition: .5s;
}

#hidden-private-key-block__0
{
    position: absolute;
    z-index: 1;
    left: 12%;
    top: 21%;
}

#hidden-private-key-block__1
{
    position: absolute;
    z-index: 1;
    left: 12%;
    top: 36%;
}

#hidden-private-key-block__2
{   
    position: absolute;
    z-index: 1;
    left: 12%;
    top: 51%;
}

#hidden-private-key-block__3
{   
    position: absolute;
    z-index: 1;
    left: 12%;
    top: 66%;
}

#hidden-private-key-block__4
{   
    position: absolute;
    z-index: 1;
    left: 12%;
    top: 81%;
}

#hidden-private-key-block__5
{   
    position: absolute;
    z-index: 1;
    left: 12%;
    top: 96%;
}

#hidden-private-key-block__6
{   
    position: absolute;
    z-index: 1;
    left: 44.3%;
    top: 21%;
}

#hidden-private-key-block__7
{   
    position: absolute;
    z-index: 1;
    left: 44.3%;
    top: 36%;
}

#hidden-private-key-block__8
{   
    position: absolute;
    z-index: 1;
    left: 44.3%;
    top: 51%;
}

#hidden-private-key-block__9
{   
    position: absolute;
    left: 44.3%;
    top: 66%;
    z-index: 1;
}

#hidden-private-key-block__10
{   
    position: absolute;
    left: 44.3%;
    top: 81%;
    z-index: 1;
}

#hidden-private-key-block__11
{   
    position: absolute;
    left: 44.3%;
    z-index: 1;
    top: 96%;
}

#hidden-private-key-block__12
{   
    position: absolute;
    top: 21%;
    left: 77%;
    z-index: 1;
}

#hidden-private-key-block__13
{   
    position: absolute;
    left: 77%;
    top: 36%;
    z-index: 1;
}

#hidden-private-key-block__14
{   
    position: absolute;
    left: 77%;
    top: 51%;
    z-index: 1;
}

#hidden-private-key-block__15
{   
    position: absolute;
    left: 77%;
    top: 66%;
    z-index: 1;
}

#hidden-private-key-block__16
{   
    position: absolute;
    left: 77%;
    top: 81%;
    z-index: 1;
}

#hidden-private-key-block__17
{   
    position: absolute;
    left: 77%;
    top: 96%;
    z-index: 1;
}

.next-btn {
    position: absolute;
    top: 75%;
    left: 60%;
    width: 160px;
    cursor: pointer;
    padding: 15px 25px;
    border: unset;
    border-radius: 10px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    transition: all 250ms;
    visibility: hidden;
   }
   
   .next-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: black;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    transform: scale(1.3);
   }
   
   .next-btn:hover {
    color: #e8e8e8;
    transform: scale(1.1);
   }
   
   .next-btn:hover::before {
    width: 100%;
   }

.active-menu
{
    position: absolute;
    width: 300px;
    height: 65px;
    left: 41.5%;
    top: -100%;
    
    background: rgb(255, 255, 255);
    
    border-radius: 30px;

    transition: 1s;
}

#active-menu-text
{
    position: absolute;

    font-family: "Dela Gothic One";
    text-align: center;
    top: 10%;
    left: 28%;
    font-size: 18px;
}


.checkmark
{   
    position: absolute;
    top: -125%;
    left: -25%;
    transform: scale(0.2);
}

.checkmark > svg > path {
    position: absolute;
}


.checkmark > svg > circle {
    position: absolute;
}

.confirm-private-key
{
    position: absolute;
    width: 90px;
    height: 30px;
    border: none;
    padding-left: 3%;
    border-radius: 20px;
    background: rgb(64, 64, 64);
    color: white;
    visibility: hidden;
    font-family: "Dela Gothic One";
}

#confirm-private-key__el0
{
    position: absolute;
    left: 12%;
    top: 21%;
}

#confirm-private-key__el1
{
    position: absolute;
    left: 12%;
    top: 36%;
}


#confirm-private-key__el2
{
    position: absolute;
    left: 12%;
    top: 51%;
}

#confirm-private-key__el3
{
    position: absolute;
    left: 12%;
    top: 66%;
}

#confirm-private-key__el4
{
    position: absolute;
    left: 12%;
    top: 81%;
}

#confirm-private-key__el5
{
    position: absolute;
    left: 12%;
    top: 96%;
}

#confirm-private-key__el6
{
    position: absolute;
    left: 44.3%;
    top: 21%;
}

#confirm-private-key__el7
{
    position: absolute;
    left: 44.3%;
    top: 36%;
}

#confirm-private-key__el8
{
    position: absolute;
    left: 44.3%;
    top: 51%;
}

#confirm-private-key__el9
{
    position: absolute;
    left: 44.3%;
    top: 66%;
}

#confirm-private-key__el10
{
    position: absolute;
    left: 44.3%;
    top: 81%;
}

#confirm-private-key__el11
{
    position: absolute;
    left: 44.3%;
    z-index: 1;
    top: 96%;
}

#confirm-private-key__el12
{
    position: absolute;
    top: 21%;
    left: 77%;
}

#confirm-private-key__el13
{
    position: absolute;
    left: 77%;
    top: 36%;
}

#confirm-private-key__el14
{
    position: absolute;
    left: 77%;
    top: 51%;
}

#confirm-private-key__el15
{
    position: absolute;
    left: 77%;
    top: 66%;
}

#confirm-private-key__el16
{
    position: absolute;
    left: 77%;
    top: 81%;
}

#confirm-private-key__el17
{
    position: absolute;
    left: 77%;
    top: 96%;
}

.form-private-key
{
    position: absolute;
    width: 100%;
    height: 100%;
}

.send-btn {
    position: absolute;
    top: 107%;
    left: 37%;
    cursor: pointer;
    width: 200px;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
    font-family: "Dela Gothic One";
    text-align: center;
    font-weight: 500;
    text-decoration: none;
    visibility: hidden;
  }
  
  .send-btn::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 69px;
    height: 60px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: white;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .send-btn:hover::before {
    scale: 3;
  }
  
  .send-btn:hover {
    color: #212121;
    scale: 1.1;
    box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
  }
  
  .send-btn:active {
    scale: 1;
  }

.create-finish
{
    position: absolute;

    top: 40%;
    left: 34%;

    width: 600px;
    height: 90px;
    background: rgb(28, 25, 36);
    border-radius: 40px;
    visibility: hidden;
}

#create-finish-text
{   
    cursor: pointer;
    position: absolute;
    color: white;
    font-family: "Dela Gothic One";
    text-align: center;
    left: 15%;
}

#back-btn
{
    position: absolute;
    top: 115%;
    left: -10%;
    visibility: hidden;
}

#header__errors-text
{
    position: absolute;
    font-size: 22px;
    top: 80%;
    left: -10%;
    color: red;
    font-weight: 100;
    visibility: hidden;
    transition: .5s;
}