body
{
    background-color: black;
    overflow-x: hidden;
}

.header
{   
    position: absolute;
    width: 1300px;
    height: 1000px;
    top: 10%;
}

.logo-selector
{   
    position: relative;
    left: 64%;
    top: -5%;
}

.logo
{   
    position: relative;
    left: 0;
    width: 218px;
    height: 110px;
}

.logo-white
{
    transition: .5s;
}

.logo-white:hover
{
    transform: scale(1.2);
}

.home-page-href
{   
    position: absolute;
    left: 0;
    width: 219px;
    height: 110px;
}

.btn-selector
{       
    width: 240px;
    height: 200px;
    position: relative;
    top: 0;
    left: 60%;
}

.login-btn
{   
    
    position: relative;

    transition: 5s;
}

.singup-btn
{
    position: relative;
    top: -18%;
    left: 90%;
}

.login-href
{   
    position: relative;
    color: grey;
    font-size: 30px;
    font-family: "Rubik", sans-serif;
    text-decoration: none;

    transition: 1s;
}

.login-href:hover
{
    transform: scale(1.2);
    color: white;
}

.singup-href
{   
    color: white;
    font-size: 30px;
    font-family: "Rubik", sans-serif;
    text-decoration: none;
}

.form-selector
{
    position: relative;
    left: 59%;
    top: -10%;
    width: 240px;
    height: 1000px;
}

#form-register
{
    left: 20%;
}

.login-input-selector
{
    position: absolute;
}

.input
{
    position: absolute;
    width: 314px;
    height: 53px;
    top: 12.7%;
    left: 2.7%;
    padding-left: 10%;

    background: rgb(38, 38, 38);
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 10px;
}

.input::placeholder
{
    color: rgb(171, 1, 1);
    font-family: 'Rubik' sans-serif;
}

.input-selector
{   
    position: absolute;
    width: 373px;
    height: 77px;

    background: rgb(59, 59, 59);
    border-radius: 10px;
}

#login
{
    position: absolute;
}

#email
{
    position: absolute;
    top: 15%;
}

#password
{
    position: absolute;
    top: 30%;
}

#confirm-password
{
    position: absolute;
    top: 45%;
}

#submit-btn
{
    position: absolute;
    width: 374px;
    height: 77px;
    top: 60%;

    border: none;
    border-radius: 10px;

    background: rgb(0, 106, 255);
    color: white;
    font-size: 36px;
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    line-height: 43px;
    letter-spacing: 0px;
    text-align: center;

    transition: 1s;
}

#submit-btn:hover
{
    transform: scale(1.1);
}

.name-input
{
    position: absolute;
    
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    color: white;
}

#login-name
{
    position: absolute;
    top: -4%;
}

#email-name
{
    position: absolute;
    top: 11%;
}

#password-name
{
    position: absolute;
    top: 26%;
}

#confirm-password-name
{
    position: absolute;
    top: 41%;
}

.email-error-block
{
    position: absolute;
    width: 373px;
    height: 31px;
    top: 44%;
    left: 59%;
}

.email-error
{
    position: absolute;
    width: 373px;
    height: 31px;
    
    font-family: 'Rubik' sans-serif;
    font-size: 15px;
    color: red;
}
